<!DOCTYPE html>
<html lang="en" data-theme="sunset">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shelflove</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script> -->
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    /> -->
  </head>
  <body>
    <%- include('./components/navbar.ejs') %>
<section class="m-5">

    <h1 class="text text-xl font-bold">All Available Books</h1>
    <% if (books) { %>
    <table class="table table-striped">
      <thead>
        <tr class="text text-blue-500 text-lg">
          <th>S.no</th>
          <th>Title</th>
          <th>Author</th>
          <th>Rating</th>
          <th>quantity</th>
          <th>genre</th>
          <th>description</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% for (const book of books) { %>
        <tr>
          <td><%= books.indexOf(book)+1 %></td>
          <td><a href="/books/<%= book.id %>" class="text text-white"><%= book.title%></a></td>
          <td><%= book.author %></td>
          <td><%= book.rating %></td>
          <td><%= book.quantity %></td>
          <td><%= book.genre %></td>

          <td><%= book.description %></td>
          <td><%= book.address %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } else { %>
    <p>No books found.</p>
    <% } %>
</section>

  </body>
</html>
